.title {
    width: 100%;
    height: 1050px;
    position: relative;
    text-align: center;

    .title_home{
        font-size: 1.8rem;
        margin: 2rem;
        color: $title_home_col;
        text-shadow: 2px 2px 2.5px rgb(48, 98, 10);
    }

    .title_scrl{
        font-size: 2rem;
        margin: 2rem;
        color: $title_scrl_col;
        text-shadow: 2px 2px 2.5px rgb(48, 98, 10);
    }
}