/* file import */
@import 'variables';
@import 'mixins';
@import 'card';
@import 'title';
@import 'titlescrl';

html {
    scroll-behavior: smooth;
}
   
body {
    font-family: $fonts;
    font-size: $size;
    background-color: $mainpage_back_col;
    padding: $spacing;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#section1 {
    height: 900px;
    width: 100%;
    display: inline-block;

    nav{
        display: flex;
        padding: 0.5% 8%;
        justify-content: space-between;
    }

    nav img {
        width: 160px;
        text-shadow: 1px 1px 1px #0D900D;
    }

    .nav-links{
        flex: 1;
        text-align: right;
    }

    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 10px 45px;
        position: relative;
    }

    .nav-links ul li a{
        color: $nav_links_col;
        text-decoration: none;
        font-size: 18px;
        text-shadow: 1px 0.5px 1px $nav_links_col;
        text-decoration: overline dotted $nav_links_overline_col 5px;
    }

    nav .fa{
        display: none;
    }

    .nav-links ul li:hover::after{
        width: 100%;
        background: #0D900D;
    }

    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 1.5px;
        background: #DAAC24;
        display: block;
        margin: 5px 0px;
        transition: 0.4s;
    }

}

#section2 {
    height: 700px;
    width: 100%;
    display: block;
    .product_cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}