/* file import */
/*colors*/
body {
  font-family: "Poppins", Helvetica, sans-serif;
}

nav {
  display: flex;
  padding: 0.5% 9%;
  justify-content: space-between;
}

nav img {
  width: 160px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 45px;
  position: relative;
}

.nav-links ul li a {
  color: rgb(48, 98, 10);
  text-decoration: none;
  font-size: 18px;
  text-shadow: 1px 0.5px 1px rgb(48, 98, 10);
}

.nav-links ul li a:hover {
  color: rgb(201, 145, 22);
  font-size: 18px;
  transition: 0.4s;
  display: inline;
  text-shadow: 1px 1px 1px rgb(48, 98, 10);
}

nav .fa {
  display: none;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: rgb(201, 145, 22);
  display: block;
  margin: 5px 0px;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 101%;
  background: rgb(48, 98, 10);
}

.nav-links ul i {
  list-style: none;
  display: inline-block;
  padding: 4px 20px;
  position: relative;
  color: rgb(48, 98, 10);
  text-shadow: 1px 0.5px 1px #7DC61B;
  font-size: 20px;
  cursor: pointer;
}

.nav-links ul i:hover {
  color: rgb(201, 145, 22);
  text-decoration: none;
  background-color: #159615;
  border-radius: 100px;
  font-size: 20px;
  transition: 0.7s;
  display: inline-block;
}

.basket_row {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
}
.basket_row .basket_left_side {
  flex: 70%;
  background-color: #1e4cca;
  border-radius: 10px;
}
.basket_row .basket_left_side .box_elements {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px;
}
.basket_row .basket_left_side .box_elements header {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
}
.basket_row .basket_left_side .box_elements .ul_1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.315);
}
.basket_row .basket_left_side .box_elements .ul_1 .products_li {
  margin-right: 26.5vh;
}
.basket_row .basket_left_side .box_elements .ul_1 .price_header {
  margin-right: 17vh;
}
.basket_row .basket_left_side .box_elements .ul_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.315);
}
.basket_row .basket_left_side .box_elements .ul_2 img {
  width: 70px;
  margin-right: 25vh;
}
.basket_row .basket_left_side .box_elements .ul_2 .after_img_li {
  margin-left: 10vh;
  position: absolute;
}
.basket_row .basket_left_side .box_elements .ul_2 .remaining_li {
  padding: 0;
}
.basket_row .basket_right_side {
  flex: 28%;
  background-color: #f5980d;
  border-radius: 10px;
}/*# sourceMappingURL=basketstyle.css.map */