$fonts: 'Aloevera', sans-serif;
$size: 1.3rem;
$spacing: 2rem;

/*colors*/
$mainpage_back_col: #e1f9df;
$card_title_col: rgb(48, 98, 10);
$card_background_col: rgb(255, 255, 255);
$card_description_col: rgb(0, 0, 0);
$title_home_col: rgb(48, 98, 10);
$title_scrl_col: rgb(201, 145, 22);
$nav_links_col: rgb(48, 98, 10);
$nav_links_overline_col: rgb(201, 145, 22);
$bg_image: url(../basketimages/abstract-blue-green.png);
$left_side_bg_image: url(../basketimages/left-side-background.jpg);