/* file import */
@import 'basketvariables';
@import 'basketmixins';

body {
    font-family: $fonts;
    background-color: #ccfff19a;
}

nav{
    display: flex;
    padding: 0.5% 9%;
    justify-content: space-between;
}

nav img {
    width: 160px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 45px;
    position: relative;
}

.nav-links ul li a{
    color: $nav_links_col;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 0.5px 1px $nav_links_col;
}

.nav-links ul li a:hover{
    color: $nav_links_overline_col;
    font-size: 18px;
    transition: 0.4s;
    display: inline;
    text-shadow: 1px 1px 1px $nav_links_col;
  }

nav .fa{
    display: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: $nav_links_overline_col;
    display: block;
    margin: 5px 0px;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 101%;
    background: $nav_links_col;
}

.nav-links ul i{
    list-style: none;
    display: inline-block;
    padding: 4px 20px;
    position: relative;
    color: $nav_links_col;
    text-shadow: 1px 0.5px 1px #7DC61B;
    font-size: 20px;
    cursor: pointer;
}

.nav-links ul i:hover{
    color: $nav_links_overline_col;
    text-decoration: none;
    background-color: #159615;
    border-radius: 100px;
    font-size: 20px;
    transition: 0.7s;
    display: inline-block;
}

.basket_row {  
    @include row_container;
    
    .basket_left_side {
        flex: 70%;
        
        

        .left_box_elements {
            @include box_elements;

            header {
                @include header_element;
            }

            .ul_1 {
                @include ul_element;

                .products_li {
                    margin-right: 26vh;
                }

                .price_header {
                    margin-right: 17vh;
                }

                .after_products_li {
                    margin-left: 10vh;
                    position: absolute;
                }
            }

            .ul_2 {
                @extend .ul_1;
                align-items: center;

                img {
                    width:70px;
                    margin-right: 25vh;                    
                }
                
                .after_img_li {
                    margin-left: 10vh;
                    position: absolute;
                }

                .remaining_li {
                    padding: 0;
                }
            }
        }
    }

    .basket_right_side {
        flex: 28%;
        background-color: #fff3bfaf;
        box-shadow: 5px 5px 5px 5px rgba(255, 217, 0, 0.685);
        border-left: 2px solid rgba(255, 217, 0, 0.712);
        @include border-radius(0.5rem);

        .right_box_elements {
            @include box_elements; 

            header {
                @include header_element;
                padding-bottom: 25px;
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.315);
            }

            div {
                text-align: center;
            }

            .ul_3 {
                @include ul_element;
                justify-content: space-evenly;

                .paypal_box {
                    .fa_p_icon {
                        font-size: 23px;
                        padding-right: 5px;
                    }
    
                    .p_logo {
                        font-family: Verdana, Tahoma, sans-serif;
                        font-weight: bold;
                        font-style: italic;
                        font-size: 18px;
                    }

                    button {
                        @include button_element;             
                    }
                }

                .creditcard_box {
                    .fa_c_icon {
                        font-size: 23px;
                        padding-right: 5px;
                    }
    
                    .c_logo {
                        font-family: Verdana, Tahoma, sans-serif;
                        font-size: 13px;
                    }

                    button {
                        @include button_element;             
                    }
                }
            }

            .input_section {
                display:flex; 
                flex-direction: column; 
                align-items: center;
                margin-top: 15px;
                padding-bottom: 20px;
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.315);
    
                input[type=text], [type=password] {          
                    @include input_element;
                }
            }

            .flex_row_container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .input_section2 {
                    @extend .input_section;
    
                    input[type=text] {
                        @include input_element;
                        width: 70px;
                    }
                }

                .input_section3 {
                    @extend .input_section;

                    input[type=text] {
                        @include input_element;
                        width: 70px;
                    }
                }
            }

            .checkout_btn {
                margin-top: 20px;
                @include button_element;
                border: 2px solid rgb(39, 16, 44);
                background-color: white;
                color: black;
                font-family: $fonts;

            }
        }
    }
}