/* file import */
/*colors*/
/* $radius is the parameter of the function */
.card {
  border-radius: 0.5rem;
  /* using the mixins function */
}
.card img {
  width: 300px;
  border: 1px solid rgb(32, 95, 9);
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
}
.card .card_title {
  margin: 0;
  color: rgb(48, 98, 10);
}
.card .card_description {
  text-align: center;
  border: 1px;
  margin: 0 0 1 0;
  position: relative;
  color: rgb(0, 0, 0);
  background-position: center center;
}

.title {
  height: 10px;
  position: relative;
  text-align: left;
  font-size: 1.8rem;
  padding: 2rem 2rem;
  color: rgb(48, 98, 10);
}

/*colors*/
/* $radius is the parameter of the function */
body {
  font-family: "Aloevera", sans-serif;
  font-size: 1.3rem;
  background-color: #e1f9df;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 100, 0, 0.2)), url(images/product-02.png);
  background-size: 79%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 2rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#section1 {
  width: 100%;
  display: block;
}
#section1 nav {
  display: flex;
  padding: 0.5% 9%;
  justify-content: space-between;
}
#section1 nav img {
  width: 160px;
}
#section1 .nav-links {
  flex: 1;
  text-align: right;
}
#section1 .nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 45px;
  position: relative;
}
#section1 .nav-links ul li a {
  color: rgb(48, 98, 10);
  text-decoration: none;
  font-size: 18px;
}
#section1 .nav-links ul li a:hover {
  color: rgb(201, 145, 22);
  font-size: 18px;
  transition: 0.4s;
  display: inline;
}
#section1 nav .fa {
  display: none;
}
#section1 .nav-links ul li::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: rgb(201, 145, 22);
  display: block;
  margin: 5px 0px;
  transition: 0.5s;
}
#section1 .nav-links ul li:hover::after {
  width: 101%;
  background: rgb(48, 98, 10);
}
#section1 .nav-links ul i {
  list-style: none;
  display: inline-block;
  padding: 4px 20px;
  position: relative;
  color: rgb(48, 98, 10);
  font-size: 20px;
  cursor: pointer;
}
#section1 .nav-links ul i:hover {
  color: rgb(201, 145, 22);
  text-decoration: none;
  background-color: #0D900D;
  border-radius: 100px;
  font-size: 20px;
  transition: 0.7s;
  display: inline-block;
}

#section2 .box_elements {
  width: 52rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 64%;
  top: 52%;
  transform: translate(-50%, -50%);
  justify-content: flex-start;
  height: 25rem;
  background: #d0c49b;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border-radius: 30px;
}
#section2 .vertical {
  font-size: 18px;
  width: 14rem;
  position: relative;
  text-align: left;
  padding: 0rem 3rem;
  display: inline;
}
#section2 .title {
  right: 10%;
  font-size: 28px;
  padding: 0rem 30rem;
  bottom: 2rem;
  display: inline;
}
#section2 .card_content {
  right: 10%;
  position: relative;
  bottom: 2.5rem;
  display: inline;
  font-weight: bold;
}
#section2 .price {
  top: 2rem;
  right: 10%;
  position: relative;
  display: inline;
  font-weight: bold;
}
#section2 img {
  position: absolute;
  left: 16rem;
  width: 20rem;
  height: 25rem;
}
#section2 .counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0rem 1rem;
  left: 18.2rem;
  top: 5rem;
}
#section2 .counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  background: none;
  color: #063c0e;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}
#section2 .counter span {
  display: block;
  font-size: 3rem;
  padding: 0 10px;
  cursor: pointer;
  color: #063c0e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#section2 .add-btn {
  width: 100px;
  text-align: center;
  display: inline;
  left: 75.5%;
  top: 77%;
  text-decoration: none;
  color: #d0c49b;
  border: 3px solid #063c0e;
  padding: 10px 22px;
  font-size: 18px;
  background: #063c0e;
  position: absolute;
  cursor: pointer;
}
#section2 .add-btn:hover {
  color: #063c0e;
  text-shadow: 0.3px 0.3px 0.3px #063c0e;
  border: 3px solid #63A011;
  background: #63A011;
  transition: 0.5s;
}/*# sourceMappingURL=veraplus.css.map */