$fonts: 'Poppins', Helvetica, sans-serif;
$size: 1.3rem;
$spacing: 0px;

/*colors*/
$mainpage_back_col: #0099ff;
$card_title_col: rgb(48, 98, 10);
$card_background_col: rgb(255, 255, 255);
$card_description_col: rgb(121, 34, 143);
$body_login_bg: url(../images/login-aloe-vera2.jpg);
$body_create_bg: url(../images/create-aloe-vera2.jpg);