@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box_elements {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);               
    justify-content: flex-start;
    height: fit-content;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;   
}

@mixin header_element {
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
}

@mixin ul_element {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    font-size: 15px;               
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.315);
}

@mixin row_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height:70vh;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}