.card {
    left: 45.4%;
    top: 33%;
    position: absolute;
    text-align: center;
    background-color: rgb(250, 250, 250);
    width: 44rem;
    overflow: hidden;
    margin: auto;
    box-shadow: 5px 5px 5px 5px rgb(48, 98, 10);
    @include border-radius(0.5rem); /* using the mixins function */

    img {
        width: 300px;
        height: 100%;
        border: 1px solid rgb(32, 95, 9);
        height: 19rem;
        background-size: cover;
        background-position: center center;
    }

    .card_content {
        height: 10rem;
        background-color: rgb(250, 250, 250);
        padding: $spacing;
    }

    .card_title {
        margin: 0;
        color: $card_title_col
    }

    .card_description {
        text-align: center;
        width: 300px;
        border: 1px;
        margin: 0 0 1 0;
        position: relative;
        color: $card_description_col;
        background-position: center center;
    }
}