.title {
    height: 100px;
    position: relative;
    text-align: center;
    top: 1rem;
    font-size: 1.8rem;
    margin: 1rem;
    padding: 2rem;
    color: $title_home_col;
    text-shadow: 2px 2px 2.5px rgb(48, 98, 10);
}